
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #131d2b;
}

h1{
    font-size: 40px;
    color: rgb(13, 204, 143);
}

hr {
    width: 340px;
    height: 2px;
    background-color: rgb(13, 204, 143);
    color: rgb(13, 204, 143);
}

.tile {
    width: 32%;
    height: 32%;
    background-color: aquamarine;
    border-radius: 3px;
    /* Text */
    font-size: 108px; 
    box-sizing: border-box;   
    
}

#flex-container{
    display: flex;
    justify-content: space-around;
    height: 360px;
    width: 360px;
    flex-wrap: wrap;
    margin: 25px auto;
}

#btn{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    border: blue 3px;
    border-radius: 5px;
    background-color: rgb(13, 204, 143);
    margin: 0px;
    cursor: pointer;
}

#div1{
    display: flex;
}

.name{
    height: 20px;
    width: 110px;
    font-size: 17px;
    margin: auto;
    border:rgb(13, 204, 143) 4px;
    border-radius: 3px;
}

#announce{
    font-size: 20px;
    color: rgb(13, 204, 143);
    margin-top: 15px;
}